
.vs/
.vscode/
.idea/


_ReSharper*/
*.DotSettings.user


bin/
obj/
**/bin/
**/obj/
publish/


.nuget/
*.nupkg


*.user
*.suo
*.userosscache
*.opendb
*.log
*.cache


.DS_Store
Thumbs.db


*.staticwebassets.*


WeatherWebAppLuiC/staticwebassets* 


appsettings.json
appsettings.Development.json


packages/


