

@page
@model WeatherWebAppLuiC.Pages.ProjectInfoModel
@{
    ViewData["Title"] = "Project Info";
}

<!-- 

A simple HTML page is created here.
This is only used to display static elements, such as text. 
Simple HTML and CSS elements are used to style the text in this page, such as <strong> (MDN Contributors, 2025a), font-size to manipulate font sizes (MDN Contributors, 2025c) and headings. (MDN Contributors, 2025d)
There is a link for the voluntary participant to complete the survey.

--->

<h2>Project Info</h2>
<p>Weather Web Application by Lui Contreras for the University of Sunderland/MSc Computer Science.</p>
<div style="margin-bottom: 1.5em;">
    <strong style="font-size: 2.7em; display: block; margin-bottom: 0.5em; text-align: center;">
           Design and Development of a scalable Weather Web Application in C# ASP.NET Core:<br />
           <h3 style="font-weight: normal; font-size: 0.65em; margin-top: 0.5em; margin-bottom: 0.5em;">
              Capturing User Behaviour and Choices to Influence Future User Experience Improvements and Functionality<br/>
              <br/>
              <a href="https://qualtricsxm2n9w9lgmb.qualtrics.com/jfe/form/SV_3DAtx0QOFE6WuSW">Take part in the survey</a>
           </h3>
    </strong>
    <em style="font-size: 1.1em; display: block; margin-bottom: 1em;">
        Introduction and rationale of the research project
    </em>
</div>
<div style="font-size: 1em;">
    This is a web application that is designed to find weather information based on the city or
    town that is placed in the search functionality of the software.<br />
    The objective of the research project is to evaluate and determine the quality of the
    application, seeing how to build a cohesive, intuitive and useful software.<br />
    It is paramount to note that participation in providing user feedback for the application is
    completely optional. No personally identifiable information such as name, address, location,
    etc. will be recorded. Utilisation of the application will also not store any data (e.g. location,
    city, etc.)<br/>
    If you have any questions, please contact the researcher Lui Contreras: [bi68cm@student.sunderland.ac.uk]
    </div>

    <div style="margin-top: 1.5em;">
        <em style="font-size: 1.1em; display: block; margin-bottom: 0.5em;">Purpose of the study</em>
        <div style="font-size: 1em;">
            The purpose of the study is to learn how to make an effective application or software,
            ensuring that quality and accessibility is upheld throughout multiple iterations of the software.<br />
            The study will complete after 2-4 weeks of gathering user feedback. The data received will
            only be utilised for the research dissertation project. Results received from the research
            project will not be preserved after the study is complete.
        </div>
</div>


