/*
CSS file for the Layout page. 
The primary version used for Bootstrap is version 5.3.8 (Otto and Bootstrap Contributors, 2025)
The CSS elements here ensure that the template found in the ASP.NET Core is placed for a consistent appearance throughout the weather web app.
These elements include, but not limited to, buttons, the nav bar (found on the top of every page), borders, etc.
(Bootstrap Contributors, 2025a, 2025b, 2025c)

*/


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: relative;
  width: 100%;
  line-height: 60px;
}
